@import ../../variables
.proyects
  padding: 0 40px
  .proyectsTitle
    margin-bottom: 30px
  .proyect
    margin-bottom: 90px
    .swiper-container, .cardImage
      position: relative
      .onHover
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 0
        // background: #171c2820
        z-index: 1
        animation: heightReverse .4s linear forwards
        overflow: hidden
        .btn
          border: 1px solid $primary
          background: $hiperDark
          color: $main
          transition: all linear .3s
          // display: none
          &:hover
            transition: all linear .3s
            box-shadow: 0px 0px 24px -0px $main
            -webkit-box-shadow: 0px 0px 24px -0px $main
            -moz-box-shadow: 0px 0px 24px -0px $main
      &:hover .onHover
        transition: height ease-in .4s
        animation: heightBounce 1s linear forwards
    .cardImage
      width: 48%
      display: flex
      align-items: center
      justify-content: center
      .icons
        margin-bottom: 20px
      img
        border-radius: 10px
        border: 2px solid $main
        width: 100%
    .text
      width: 48%
      padding: 0 20px
      .logo
        font-size: 50px
      .logoimg
        height: 50px
      // .fa-angular::after
      //   height: 30px
      //   background: #fff
      //   border-radius: 50%
      //   width: 30px
      //   position: absolute
      //   // top: 100px
      //   left: 0
          // position: absolute
          // top: 0

@media (min-width: 1050px)
  .proyects
    padding: 0 7%

@media (max-width:900px)
  .proyects
    .proyectsTitle
      text-align: center
      font-size: 40px
      margin-bottom: 60px
    .proyect
      flex-direction: column
      align-items: center
      justify-content: center
      .cardImage
        width: 100%
        margin-bottom: 25px
        .icons
          display: none !important
      .text
        width: 100%
@media (max-width: 550px)
  .proyects
    padding: 0 10px
    .proyectsTitle
      font-size: 40px
    .proyect
      .text
        padding: 0 5px
@media (max-width: 450px)
  .proyects
    .proyectsTitle
      font-size: 34px
    .proyect
      h4
        font-size: 20px

@keyframes heightBounce
  0%
    height: 0
  40%
    height: 100%
  60%
    height: 115%
  75%
    height: 100%
  90%
    height: 110%
  100%
    height: 100%

@keyframes heightReverse
  from
    height: 100%
  to
    height: 0%

